<img id="image_presentation" alt="Présentation de RTS HTM" title="Présentation de RTS HTM" src="img/presentation.jpg">

<p>
	Cliquez ci-dessous pour réserver votre salle!<br />
	Vous n'aurez qu'à entrer : la date de réservation, le créneau horaire, le nombre minimum de places et d'ordinateurs
	(un pour le professeur ?), climatisée ?
</p>

<a href="reservation.html"><input id="bouton_reservation" class="bouton" type="button" value="Réserver"></a>